/**header**/
.header {
	background-color: gray;
	border: 2px solid black;
	height: 80px;
}
#textheader {
	margin-top: 10px;
	margin-left: 20px;
}

.navbar {
       background-color: gray;

}

.nav-item {
       margin: auto;
       border: 1px solid black;
       width: 1340px;
       
}

.margin {
       margin-left: 655px;
}

.margin1 {
       margin-left: 670px;
}

.margin2 {
       margin-left: 670px;
}

/**/

/**main**/
.text {
	text-align: center;
}


.box {
	background-color: gray;
	height: 150px;
	margin-bottom: 50px;
	margin-top: 50px;
}

/**/
 
 /**media**/
  @media (min-width: 1024px) and (max-width: 1300px) {
       .margin {
              margin-left: 470px;
       }
       .margin1 {
              margin-left: 480px;
       }    

       .margin2 {
              margin-left: 480px;
       }
       .nav-item {
              width: 1024px;
       }
}

 @media (min-width: 820px) and (max-width: 900px) {
 	.box {
 		height: 200px;
 	}
       .margin {
              margin-left: 370px;
       }
       .margin1 {
              margin-left: 380px;
       }    

       .margin2 {
              margin-left: 380px;
       }
       .nav-item {
              width: 810px;
       }
 }	
 	
 @media (min-width: 768px) and (max-width: 819px) {
 	.box {
 		height: 210px;
 	}
       .margin {
              margin-left: 335px;
       }
       .margin1 {
              margin-left: 350px;
       }    

       .margin2 {
              margin-left: 350px;
       }
       .nav-item {
              width: 760px;
       }
 }

 @media (min-width: 912px) and (max-width: 950px) {
 	.box {
 		height: 220px;
 	}
       .margin {
              margin-left: 410px;
       }
       .margin1 {
              margin-left: 420px;
       }    

       .margin2 {
              margin-left: 420px;
       }
       .nav-item {
              width: 900px;
       }
 }	

 @media (min-width: 530px) and (max-width: 767px) {
 	.box {
 		height: 250px;
        width: 500px;
 	}
       .margin {
              margin-left: 215px;
       }
       .margin1 {
              margin-left: 225px;
       }    

       .margin2 {
              margin-left: 225px;
       }
       .nav-item {
              width: 525px;
       }
 }

  @media (min-width: 412px) and (max-width: 531px) {
 	.box {
 		height: 300px;
 		width: 375px;
 	}
       .margin {
              margin-left: 170px;
       }
       .margin1 {
              margin-left: 180px;
       }    

       .margin2 {
              margin-left: 180px;
       }
       .nav-item {
              width: 412px;
       }
 }		

 @media (min-width: 280px) and (max-width: 411px) {
 	.box {
 		height: 450px;
 		width: 250px;
 	}
       .margin {
              margin-left: 110px;
       }
       .margin1 {
              margin-left: 120px;
       }    

       .margin2 {
              margin-left: 120px;
       }
       .nav-item {
              width: 280px;
       }
 }


 /**/