/**header**/
.header {
	background-color: gray;
	border: 2px solid black;
	height: 80px;
}
#textheader {
	margin-top: 10px;
	margin-left: 20px;
}

.navbar {
       background-color: gray;
}

.nav-item {
       margin: auto;
       
       
}
/**/

/**main**/
.text {
	text-align: center;
}


.box {
	background-color: gray;
	height: 150px;
	margin-bottom: 50px;
	margin-top: 50px;
}

/**/
 
 /**media**/
 @media (min-width: 820px) and (max-width: 900px) {
 	.box {
 		height: 200px;
 	}
 }	
 	
 @media (min-width: 768px) and (max-width: 819px) {
 	.box {
 		height: 210px;
 	}
 }

 @media (min-width: 912px) and (max-width: 950px) {
 	.box {
 		height: 220px;
 	}
 }	

 @media (min-width: 530px) and (max-width: 767px) {
 	.box {
 		height: 250px;
        width: 500px;
 	}
 }

  @media (min-width: 412px) and (max-width: 531px) {
 	.box {
 		height: 300px;
 		width: 375px;
 	}
 }		

 @media (min-width: 280px) and (max-width: 411px) {
 	.box {
 		height: 450px;
 		width: 250px;
 	}
 }	


 /**/